.main-header {
    background-image: url('images/who-s-denilo-F_-tPj6I95Q-unsplash.jpg');
    background-position:auto;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    margin:auto;
    grid-template-columns:0;
    padding: 12px;
    padding-bottom: 0px;
    color: #F15152;
}
.logo   {
  width: 200px; 
  height: 180px;
  transition: transform 2.5s;
}

.logo:hover {
  transform: rotateY(360deg);
}

html, body {
    /* v = viewport height / window height */
    min-height: 100vh;
  
}
body    {
    /* background-color: #13262F; */
    /* color: rgb(255, 123, 0); display: grid;  */
    grid-template-rows: auto 1fr auto;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    text-align:center;
    /* overflow:hidden; */
}

.main-nav    {
    text-align: center;
    justify-self: right;
    align-self: right;
    display: block;
    /* background-color: #13262F; */
    padding: 12px;
    padding-bottom: 0px;
    color: #F15152;
    /* background-image: url('images/banner2.JPG'); */
    background-position:auto;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
    min-height:40vh;
}
.nav a:hover { 
  /* this will customise the links */
}

.content {
  letter-spacing: 8px;
  /* Text may be inflated in this exact proportion */
  color: rgb(255, 255, 255);
  font-size:smaller;
  text-decoration-thickness: 1px;
  /* margin:auto 50px; */
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  /* overflow:hidden; */
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  
}

.card {
  grid-column: span 4;
  color:darkcyan;
  text-size-adjust: auto;
  /* background-size: auto; */
  /* background-size: contain; */
  /* background-position: center; */
}

.card img {
  height: 10em;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.banner { 
  min-height: 51vh;
  /* background-color:#AF5D63; */
  display: grid;
  place-items: center;
  grid-column: 1 / span 12;
  background-image: url('images/kristin-dope-zkx29dCIzO0-unsplash.jpg');
  place-items:center;
  background-position:center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  font-size: 2.0em;
  overflow:hidden;
}
.banner h3 {
  font-size: 2.2em;
  color:white;
  text-shadow: 3px 3px 1px #F15152;
  /* background-color:rgba(0,0,0,0,5) */
}

.Welcome {
  position: relative;
  display: inline-block;
  line-height: 0.2em;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 2em;
  color: #9DC5BB;
  background-color:cornflowerblue;
  background-size: 50px;
  /* transform-origin: 25% 50%; */
}

.Welcome .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.05rem;
  padding-right: 0.00rem;
  padding-bottom: 0.0rem;
  overflow: hidden;
  letter-spacing: 1px;
}


a:link {
    text-decoration: none;
/* unvisited link */
    color: rgb(255, 255, 255);
  }
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: #F15152;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.p {
  letter-spacing: 8px;
}

.main-footer {
    display:grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 0px;
    color: #9DC5BB;
    height:50px;
    overflow:hidden;
    /* max-height: 40px; */
    
    /* background-image: url('/images/nelson-ndongala-cDUEytUiwoE-unsplash.jpg') */
  }

.copyright { 
  font-size: 0.705em; /* 10px/16=0.875em */
  justify-self: start;
  padding-left: 8px;
  color: #9DC5BB;
  grid-column-start: 1;
  letter-spacing: 2px;
  text-size-adjust: auto;
  text-align:left;
  height:40px;
}

.social-nav { 
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: end;
  height:50px;
  align-self;
}

.social-nav a {
  color:cadetblue;
  /* text-decoration:none; */
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 100vh;
}

.social-nav a:hover {
  color: #F15152;
}
