html, body {
    /* v = viewport height / window height */
    min-height: 100vh;
}
body    {
    background-color: rgb(60, 31, 224);
    color: rgb(255, 123, 0); display: grid; 
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align:center;
}
.logo   {
    width: 200px; 
}
.nav    {
    text-align: center;
}

.ml9 {
  position: relative;
  font-weight: 500;
  font-size: 2em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.05m;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  letter-spacing: 0px;
}

.ml9 .letters {
  transform-origin: 25% 50%;
  display: inline-block;
  line-height: 0.2em;
  letter-spacing: 10px;
}

a:link {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 123, 0);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.p {
  letter-spacing: ;
  /* Text may be inflated in this exact proportion */
  color: rgb(255, 123, 0);
  font-size:smaller;
  text-decoration-thickness: 1px;
  margin:0pt;
}

p.fsl {
  letter-spacing: 8px;
}

.footer {
    font-size: 0.705em; /* 10px/16=0.875em */
    color: white;
    letter-spacing: 2px;
  }